@font-face {
  font-family: GTAme;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GT-America-Standard-Regular.woff2") format("woff2"), url("../fonts/GT-America-Standard-Regular.woff") format("woff");
  font-display: swap;
}
body {
  -webkit-font-feature-settings: "kern","liga","pnum";
  -moz-font-feature-settings: "kern","liga","pnum";
  -ms-font-feature-settings: "kern","liga","pnum";
  font-feature-settings: "kern","liga","pnum";
}
.postHeader {
  text-align: center;
}
.chevron {
  position: fixed;
  background: url(../../static/chevron.svg) no-repeat;
  background-size: contain;
  background-position: center top;
  margin-top: 0.5rem;
}
.chevron, .chevron a {
  display: block;
  width: 25px;
  height: 25px;
  -webkit-animation: hover 3s ease-in-out infinite;
  animation: hover 3s ease-in-out infinite;
}
.medium, .full {
  margin: 0 calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}
.medium {
  width: 65vw;
}
.full {
  width: 85vw;
}
.about-wrap, .about-items-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-wrap {
  justify-content: space-between;
  margin-bottom: 5rem;
}
.about-img {
  flex-basis: 90%;
  padding-bottom: 3vh;
}
.about-content {
  flex-basis: 63%;
}
.about-items {
  margin-right: 8vw;
}
.about-items li {
  margin-bottom: 0.25rem;
}
.bgImg {
  display: none;
  visibility: hidden;
}
figcaption {
  margin-left: auto; margin-right: auto; max-width: 1360px; /*ugly workaround*/
}
.imgvideo-container {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.imgvideo {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
@media only screen and (max-width: 680px) {
  .video-bg, .imgvideo-container, .imgvideo {
    display: none;
    visibility: hidden;
  }
  .bgImg {
    display: block;
    visibility: visible;
  }
  .postHeader {
    text-align: left;
  }
  .medium, .full {
    width: 100vw;
  }
  .chevron {
    display: none;
    visibility: hidden;
  }
  .about-wrap {
    display: block;
  }
  .about-items-wrap {
    flex-direction: column-reverse;
  }
  .about-items li {
    margin-bottom: 0.8rem;
  }
}
@keyframes hover {
  0% {
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
  60% {
    -webkit-transform:translateX(-2px);
    transform:translateX(-2px)
  }
  100% {
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
}
