@font-face {
  font-family: GTAme;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GT-America-Standard-Regular.woff2") format("woff2"), url("../fonts/GT-America-Standard-Regular.woff") format("woff");
  font-display: swap;
}
body {
  -webkit-font-feature-settings: "kern","liga","pnum";
  -moz-font-feature-settings: "kern","liga","pnum";
  -ms-font-feature-settings: "kern","liga","pnum";
  font-feature-settings: "kern","liga","pnum";
}
.postHeader {
  text-align: center;
}
.chevron {
  position: fixed;
  background: url(../../static/chevron.svg) no-repeat;
  background-size: contain;
  background-position: center top;
}
.chevron, .chevron a {
  display: block;
  width: 25px;
  height: 25px;
  -webkit-animation: hover 3s ease-in-out infinite;
  animation: hover 3s ease-in-out infinite;
}
.mediumWidth, .fullWidth {
  margin: 4vw calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}
.mediumWidth {
  width: 65vw;
}
.fullWidth {
  width: 85vw;
}
.addInfo p {
  margin: 0;
}
@media only screen and (max-width: 400px) {
  .postHeader {
    text-align: left;
  }
  .mediumWidth, .fullWidth {
    width: 100vw;
  }
  .chevron {
    display: none;
    visibility: hidden;
  }
}
@keyframes hover {
  0% {
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
  60% {
    -webkit-transform:translateX(-2px);
    transform:translateX(-2px)
  }
  100% {
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
}
