@font-face {
  font-family: GTAme;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GT-America-Standard-Regular.woff2") format("woff2"), url("../fonts/GT-America-Standard-Regular.woff") format("woff");
  font-display: swap;
}
body {
  -webkit-font-feature-settings: "kern","liga","pnum";
  -moz-font-feature-settings: "kern","liga","pnum";
  -ms-font-feature-settings: "kern","liga","pnum";
  font-feature-settings: "kern","liga","pnum";
}
.mediumWidth {
  width: 65vw;
  margin: 4vw calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}
.fullWidth {
  width: 85vw;
  margin: 4vw calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}
@media only screen and (max-width: 400px) {
  .mediumWidth, .fullWidth {
    width: 100vw;
  }
  .pfeil {
    display: none;
  }
}
